body{
    background-size: cover;
    background-position: center;
}
.heading{
    background-color: burlywood;
    width: 100%;
    font-size: 20px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
}
.next{
    border-radius: 20px;
    background-color: bisque;
    color: indianred;
    margin-top: 20px;
    font-size: 20px;
}